<template>
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-title">
        <h2>Indonesian International Student Mobility Awards (IISMA)</h2>
      </div>
      <div class="row">
        <div class="content">
          <div
            class="content"
            style="text-align: justify; text-justify: inter-word"
          >
            <p>
              Indonesian International Student Mobility Awards (IISMA) adalah
              skema beasiswa oleh Pemerintah Republik Indonesia untuk mendanai
              siswa Indonesia untuk program mobilitas di universitas terkemuka
              dan industri terkemuka di luar negeri. IISMA mencakup dua jalur
              untuk mahasiswa sarjana dan kejuruan. Dengan IISMA, mereka bisa
              menghabiskan satu semester di lembaga mitra terkemuka. Untuk jalur
              sarjana, program ini membekali mahasiswa dengan keterampilan yang
              dibutuhkan untuk dunia kerja masa depan, yaitu: sense-making,
              social intelligence, novel & adaptif thinking, cross-cultural
              competence, computing thinking, new-media literacy,
              transdisciplinarity, design mindset, manajemen beban kognitif, dan
              kolaborasi virtual. Bagi siswa SMK, program ini menawarkan
              pembelajaran bekerjasama dengan industri dimana mereka akan
              melakukan tugas praktek untuk meningkatkan keterampilan mereka.
              Secara keseluruhan, IISMA akan memaparkan mahasiswa Indonesia pada
              keragaman akademik dan budaya internasional. Skema ini dikelola
              secara terpusat oleh Kementerian Pendidikan, Kebudayaan, Riset,
              dan Teknologi (Kemendikbud).
            </p>

            <p>
              Jalur Vokasi diperuntukkan bagi mahasiswa aktif Diploma 3 dan
              Diploma 4 Indonesia (Sarjana Ilmu Terapan) dari pendidikan tinggi
              kejuruan (VHE) di bawah Direktorat Jenderal Pendidikan Vokasi.
              Mereka harus berada di semester 4 (untuk Diploma 3) dan semester 4
              atau 6 (untuk Diploma 4) pada saat pendaftaran. Para mahasiswa
              akan belajar di institusi ternama bekerja sama dengan industri
              terkemuka hingga satu semester. Jalur Kejuruan dibuka untuk
              aplikasi pada 1 Mei 2022.
            </p>
            <p><br /></p>

            <h4><p>Cakupan Pendanaan Beasiswa Awardee :</p></h4>

            <p>
              1. Uang pendaftaran dan SPP (at cost) yang akan dibayarkan
              langsung ke PTLN;
            </p>

            <p>
              2. Biaya perjalanan berupa tiket pesawat pulang pergi (PP) kelas
              ekonomi dari kota asal di Indonesia ke kota tujuan belajar (at
              cost);
            </p>

            <p>
              3. Biaya kedatangan dan biaya hidup bulanan di negara tujuan
              belajar sesuai ketentuan Kemdikbudristek;
            </p>

            <p>4. Asuransi kesehatan selama mengikuti program;</p>

            <p>
              5. Biaya tes PCR sebelum berangkat ke negara tujuan dan saat akan
              kembali ke Indonesia jika diperlukan;
            </p>

            <p>6. Biaya penerbitan visa negara tujuan;</p>

            <p>
              7. Biaya bantuan keadaan darurat mahasiswa secara kolektif (sesuai
              keperluan);
            </p>

            <p>
              8. Biaya karantina Covid-19 di negara tujuan (sesuai keperluan).
            </p>

            <br />
            <h4><p>Persyaratan Pelamar Beasiswa</p></h4>
            <p>1. Warga negara Indonesia dan berdomisili di Indonesia; </p>
            <p>2. Terdaftar di PTPPV asal mahasiswa; </p>
            <p>
              3. Sedang menempuh perkuliahan di semester 4 pada program Diploma
              3 (D3), atau semester 4 dan 6 pada program Diploma 4 (D4) atau
              Sarjana Terapan, sewaktu mendaftar di program ini. 
            </p>
            <p>4. Dinominasikan oleh PTPPV asal mahasiswa;</p>
            <p>
              5. Mempunyai kemampuan Bahasa Inggris minimal: TOEFL CBT= 170,
              CEFR = B2, TOEIC = 560, IELTS = 5,5, Duolingo = 85 yang dibuktikan
              dengan sertifikat asli dan masih berlaku hingga tanggal 20 Mei
              2022; 
            </p>
            <p>
              6. Belum pernah menerima beasiswa pertukaran mahasiswa luar negeri
              lainnya; 
            </p>
            <p>
              7. Bersedia mengikuti peraturan dan ketentuan yang berlaku yang
              ditetapkan oleh Kemdikbudristek selama mengikuti program ini.
            </p>
            <p>
              8. Tidak sedang menerima beasiswa pendidikan dari Kemdikbudristek.
              Jika mahasiswa yang melamar program ini sedang menerima beasiswa,
              maka beasiswanya dihentikan dulu sementara.
            </p>
            <p><br /></p>

            <p>Berikut Adalah informasi terkait IISMAVO PENS :</p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a
                  data-bs-toggle="collapse"
                  class="collapsed"
                  data-bs-target="#accordion-list-1"
                  ><span>01</span> Form Pendaftaran TSA
                  <i class="bx bx-chevron-down icon-shoW"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-1"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p></p>
                  <a href="https://rb.gy/vhwakg" class="buy-btn"
                    >Lihat Dokumen</a
                  >
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2"
                  class="collapsed"
                  ><span>02</span> Daftar Peserta IISMAVO PENS
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-2"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p></p>
                  <a href="https://pens.id/DaftarPesertaIISMAVO" class="buy-btn"
                    >Lihat Dokumen</a
                  >
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3"
                  class="collapsed"
                  ><span>03</span> Informasi IISMAVO selengkapnya
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-3"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p></p>
                  <a href="https://rb.gy/homtmf" class="buy-btn"
                    >Lihat Dokumen</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img">
          &nbsp;
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</template>