<template>
       <!-- ======= Tentang Kami Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>KOMPETISI dan LOMBA</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Berikut adalah halaman terkait kompetisi dan lomba yang bisa dikonversikan kedalam sks program MBKM
            </p>
            <ul>
              <!-- <li>
                <i class="ri-check-double-line"></i> Ullamco laboris nisi ut
                aliquip ex ea commodo consequat
              </li>
              <li>
                <i class="ri-check-double-line"></i> Duis aute irure dolor in
                reprehenderit in voluptate velit
              </li>
              <li>
                <i class="ri-check-double-line"></i> Ullamco laboris nisi ut
                aliquip ex ea commodo consequat
              </li> -->
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Kompetisi mengenai MBKM yang sudah dilaksanakan di tahun 2022 ini adalah Kompetesi Robot Indonesia (KRI).
              Berikut list data peserta (mahasiswa) terkait kompetisi KRI :
            </p>
            <a href="https://docs.google.com/spreadsheets/d/1Lk_VQLrQSqW6Zj9v770qTN87y0ATEHZSoYEelaBwuHQ/edit?usp=sharing" class="btn-learn-more">Selengkapnya</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Tentang Kami Section -->
</template>