<template>
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="section-title">
      <h2>MBKM PENS</h2>
    </div>
    <div class="container-fluid" data-aos="fade-up">
      <div class="row content">
        <div class="content">
          <h3>
            <strong>Tentang MBKM</strong>
          </h3>
          <p></p>
        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a
                data-bs-toggle="collapse"
                class="collapse"
                data-bs-target="#accordion-list-1"
                ><span>01</span> Landasan Hukum
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-1"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Kampus Merdeka (MBKM) merupakan salah satu kebijakan dari
                  Menteri Pendidikan, Kebudayaan, Riset dan Teknologi, Nadiem
                  Anwar Makarim. Salah satu program dari kebijakan MBKM adalah
                  hak belajar tiga semester di luar program studi. Program
                  tersebut merupakan amanah dari berbagai regulasi/landasan
                  hukum pendidikan tinggi dalam rangka peningkatan mutu
                  pembelajaran dan lulusan pendidikan tinggi. Landasan hukum
                  pelaksanaan program kebijakan hak belajar tiga semester di
                  luar program studi diantaranya, sebagai berikut:
                </p>
                <p>
                  1. Undang-Undang Nomor 20 Tahun 2003, tentang Sistem
                  Pendidikan Nasional.
                </p>
                <p>
                  2. Undang-Undang Nomor 12 Tahun 2012, tentang Pendidikan
                  Tinggi.
                </p>
                <p>3. Undang-Undang Nomor 6 Tahun 2014, tentang Desa.</p>
                <p>
                  4. Peraturan Pemerintah Nomor 04 Tahun 2014, tentang
                  Penyelenggaraan Pendidikan Tinggi dan Pengelolaan Perguruan
                  Tinggi.
                </p>
                <p>5. Peraturan Presiden nomor 8 tahun 2012, tentang KKNI.</p>
                <p>
                  6. Peraturan Menteri Pendidikan dan Kebudayaan Republik
                  Indonesia Nomor 3 Tahun 2020, tentang Standar Nasional
                  Pendidikan Tinggi.
                </p>
                <p>
                  7. Peraturan Menteri Desa, Pembangunan Daerah Tertinggal, dan
                  Transmigrasi Nomor 11 Tahun 2019, tentang Prioritas Penggunaan
                  Dana Desa Tahun 2020.
                </p>
                <p>
                  8. Peraturan Menteri Desa, Pembangunan Daerah Tertinggal, dan
                  Transmigrasi Nomor 16 Tahun 2019, tentang Musyawarah Desa.
                </p>
                <p>
                  9. Peraturan Menteri Desa, Pembangunan Daerah Tertinggal, dan
                  Transmigrasi Nomor 17 Tahun 2019, tentang Pedoman Umum
                  Pembangunan dan Pemberdayaan Masyarakat Desa.
                </p>
                <p>
                  10. Peraturan Menteri Desa, Pembangunan Daerah Tertinggal, dan
                  Transmigrasi Nomor 18 Tahun 2019, tentang Pedoman Umum
                  Pendampingan Masyarakat Desa.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-2"
                class="collapsed"
                ><span>02</span> Latar Belakang
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-2"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Dalam rangka menyiapkan mahasiswa menghadapi perubahan sosial,
                  budaya, dunia kerja dan kemajuan teknologi yang pesat,
                  kompetensi mahasiswa harus disiapkan untuk lebih gayut dengan
                  kebutuhan zaman. Link and match tidak saja dengan dunia
                  industri dan dunia kerja tetapi juga dengan masa depan yang
                  berubah dengan cepat. Perguruan tinggi dituntut untuk dapat
                  merancang dan melaksanakan proses pembelajaran yang inovatif
                  agar mahasiswa dapat meraih capaian pembelajaran mencakup
                  aspek sikap, pengetahuan, dan keterampilan secara optimal dan
                  selalu relevan.
                </p>
                <p>
                  Kebijakan MBKM diharapkan dapat menjadi jawaban atas tuntutan
                  tersebut. Kampus Merdeka merupakan wujud pembelajaran di
                  perguruan tinggi yang otonom dan fleksibel sehingga tercipta
                  kultur belajar yang inovatif, tidak mengekang, dan sesuai
                  dengan kebutuhan mahasiswa.
                </p>
                <p>
                  Program utama kebijakan MBKM yaitu: kemudahan pembukaan
                  program studi baru, perubahan sistem akreditasi perguruan
                  tinggi, kemudahan perguruan tinggi negeri menjadi PTN berbadan
                  hukum, dan hak belajar tiga semester di luar program studi.
                  Yang dimaksud dengan hak belajar tiga semester di luar program
                  studi adalah mahasiswa diberikan kebebasan mengambil sks di
                  luar program studi selama maksimal tiga semester, berupa 1
                  (satu) semester kesempatan mengambil mata kuliah di luar
                  program studi dalam perguruan tinggi yang sama dan 2 (dua)
                  semester melaksanakan aktivitas pembelajaran di luar perguruan
                  tinggi.
                </p>
                <p>
                  Berbagai bentuk kegiatan belajar di luar perguruan tinggi, di
                  antaranya melakukan magang/praktik kerja di industri atau
                  tempat kerja lainnya, melaksanakan proyek pengabdian kepada
                  masyarakat di desa, mengajar di satuan pendidikan, mengikuti
                  pertukaran mahasiswa, melakukan penelitian, melakukan kegiatan
                  kewirausahaan, membuat studi/proyek independen, dan mengikuti
                  program kemanusiaan. Semua kegiatan tersebut harus
                  dilaksanakan dengan bimbingan dari dosen. Kampus Merdeka
                  diharapkan dapat memberikan pengalaman kontekstual lapangan
                  yang akan meningkatkan kompetensi mahasiswa secara utuh, siap
                  kerja, atau menciptakan lapangan kerja baru.
                </p>
                <p>
                  Proses pembelajaran dalam Kampus Merdeka merupakan salah satu
                  perwujudan pembelajaran yang berpusat pada mahasiswa (student
                  centered learning) yang sangat esensial. Pembelajaran dalam
                  Kampus Merdeka memberikan tantangan dan kesempatan untuk
                  pengembangan inovasi, kreativitas, kapasitas, kepribadian, dan
                  kebutuhan mahasiswa, serta mengembangkan kemandirian dalam
                  mencari dan menemukan pengetahuan melalui kenyataan dan
                  dinamika lapangan seperti persyaratan kemampuan, permasalahan
                  riil, interaksi sosial, kolaborasi, manajemen diri, tuntutan
                  kinerja, target dan pencapaiannya. Melalui program merdeka
                  belajar yang dirancang dan diimplementasikan dengan baik, maka
                  hard dan soft skills mahasiswa akan terbentuk dengan kuat.
                </p>
                <p>
                  Program MBKM diharapkan dapat menjawab tantangan perguruan
                  tinggi untuk menghasilkan lulusan yang sesuai perkembangan
                  zaman, kemajuan IPTEK, tuntutan dunia usaha dan dunia
                  industri, maupun dinamika masyarakat.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-3"
                class="collapsed"
                ><span>03</span> Tujuan
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-3"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <p>
                  Tujuan kebijakan MBKM pada kurikulum di Politeknik Elektronika
                  Negeri Surabaya (PENS), adalah untuk meningkatkan kompetensi
                  lulusan, baik soft skills maupun hard skills, agar lebih siap
                  dan relevan dengan kebutuhan zaman, menyiapkan lulusan sebagai
                  pemimpin masa depan bangsa yang unggul dan berkepribadian.
                  Program-program experiential learning dengan jalur yang
                  fleksibel diharapkan akan dapat memfasilitasi mahasiswa
                  mengembangkan potensinya sesuai dengan passion dan bakatnya.
                </p>
              </div>
            </li>

            <li>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#accordion-list-4"
                class="collapsed"
                ><span>04</span> Informasi Penting Terkait MBKM PENS
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="accordion-list-4"
                class="collapse"
                data-bs-parent=".accordion-list"
              >
                <h5>
                  <p><span>a</span> Panduan MBKM (untuk dosen + tendik) </p>
                </h5>
                <a href="https://rb.gy/8rbhph" class="buy-btn">Lihat Dokumen</a>
                <h5>
                  <p><span>b</span> Buku Saku Mahasiswa </p>
                </h5>
                <a href="https://rb.gy/3ep8qj" class="buy-btn">Lihat Dokumen</a>
                <h5>
                  <p><span>c</span> Daftar peserta MBKM </p>
                </h5>
                <a href="https://rb.gy/snxq2t" class="buy-btn">Lihat Dokumen</a>
                <h5>
                  <p><span>d</span> Form Pendaftaran MBKM </p>
                </h5>
                <a href="https://rb.gy/vhwakg" class="buy-btn">Lihat Dokumen</a>
                <h5>
                  <p><span>e</span> Format Logbook MBKM  </p>
                </h5>
                <a href="https://rb.gy/8feukg" class="buy-btn">Lihat Dokumen</a>
              </div>
            </li>
          </ul>
        </div>

        <!-- <div
            class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            style="background-image: url('/arsha/assets/img/why-us.png')"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            &nbsp;
          </div> -->
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Tentang Kami Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>PERSYARATAN UMUM DAN PERANAN PIHAK TERKAIT</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <h3><p>Persyaratan Umum</p></h3>
          <p>
            Dalam pelaksanaan kebijakan MBKM terdapat beberapa persyaratan umum
            yang harus dipenuhi oleh mahasiswa maupun PENS sebagai perguruan
            tinggi pelaksana, diantaranya sebagai berikut:
          </p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Mahasiswa berasal dari
              program studi yang terakreditasi.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Mahasiswa aktif yang
              terdaftar pada PDDikti.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Mahasiswa terdaftar di tahun
              akademik berjalan.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Mahasiswa memiliki dosen
              pendamping dalam mengikuti berbagai kegiatan.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Mahasiswa mendaftar kegiatan
              MBKM sebelum kegiatan dimulai.
            </li>
          </ul>
          <p style="justify-items: auto">
            Untuk mengembangkan dan memfasilitasi pelaksanaan program MBKM, maka
            PENS membuat Panduan Akademik MBKM. Program-program yang
            dilaksanakan hendaknya disusun dan disepakati bersama antara PENS
            dengan mitra kegiatan. Program Merdeka Belajar dapat berupa program
            nasional yang telah disiapkan oleh Kementerian maupun program yang
            disiapkan oleh PENS yang didaftarkan pada Pangkalan Data Pendidikan
            Tinggi.
          </p>
        </div>
        <div class="col-lg-6">
          <h3>Peranan Pihak Terkait</h3>
          <p>
            Agar kegiatan MBKM dapat berjalan dengan baik diperlukan peranan dan
            kerjasama yang baik antara berbagai pihak yang terlibat, baik dari
            institusi (PENS) dan organ-organ di bawahnya (departemen dan program
            studi), mahasiswa pelaksana kegiatan dan juga lembaga/instansi/
            industri mitra kegiatan.
          </p>
          <p>a. Peranan institusi (PENS):</p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Memfasilitasi hak bagi
              mahasiswa untuk melakukan MBKM;
            </li>
            <li>
              <i class="ri-check-double-line"></i> Menyusun buku panduan MBKM
              sebagai petunjuk pelaksanaan MBKM;
            </li>
            <li>
              <i class="ri-check-double-line"></i> Membuat dokumen kerja sama
              (MoU/SPK) dengan mitra apabila dibutuhkan.
            </li>
          </ul>
          <p>b. Peranan departemen:</p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Menyiapkan dan memfasilitasi
              daftar mata kuliah tingkat departemen yang bisa diambil mahasiswa
              lintas program studi;
            </li>
            <li>
              <i class="ri-check-double-line"></i> Menyiapkan dokumen kerja sama
              (MoU/SPK) dengan mitra yang relevan apabila dibutuhkan.
            </li>
          </ul>
          <p>c. Peranan program studi:</p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Menyusun atau menyesuaikan
              kurikulum dengan model implementasi kampus merdeka;
            </li>
            <li>
              <i class="ri-check-double-line"></i> Menawarkan mata kuliah yang
              bisa diambil oleh mahasiswa di luar program studi, di dalam
              dan/atau di luar PENS beserta persyaratannya.
            </li>
            <li>
              <i class="ri-check-double-line"></i>Memfasilitasi mahasiswa yang
              akan mengambil pembelajaran lintas program studi dalam PENS.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Melakukan
              ekuivalensi/pengakuan sks mata kuliah dengan kegiatan pembelajaran
              luar program studi di dalam dan/atau di luar PENS.
            </li>
          </ul>
          <p>d. Peranan mahasiswa:</p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Merencanakan bersama Dosen
              Pembimbing Akademik (Dosen Wali) mengenai program mata
              kuliah/program yang akan diambil di luar program studi.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Mendaftar program kegiatan di
              luar program studi.
            </li>
            <li>
              <i class="ri-check-double-line"></i>Melengkapi persyaratan
              kegiatan luar program studi, termasuk mengikuti seleksi bila ada.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Mengikuti program kegiatan
              luar program studi sesuai dengan ketentuan pedoman akademik yang
              ada.
            </li>
          </ul>
          <p>e. Peranan lembaga/instansi/industri mitra:</p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Membuat dokumen kerja sama
              (MoU/SPK) bersama PENS/departemen/program studi.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Melaksanakan program kegiatan
              luar program studi sesuai dengan ketentuan yang ada dalam dokumen
              kerja sama (MoU/SPK)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Tentang Kami Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div
          class="
            col-lg-7
            d-flex
            flex-column
            justify-content-center
            align-items-stretch
            order-2 order-lg-1
          "
        >
          <div class="content">
            <h3>
              <strong>Pelaksanaan MBKM</strong>
            </h3>
            <p>
              Bentuk kegiatan pembelajaran sesuai dengan Permendikbud No 3 Tahun
              2020 Pasal 15 ayat 1 dapat dilakukan di dalam program studi dan di
              luar program studi. Mahasiswa PENS dapat mengambil mata kuliah
              maksimal 20 sks pada program studi lain di dalam PENS dan maksimal
              40 sks pada program studi di luar PENS.
            </p>
            <ul>
              <li>Pertukaran Pelajar</li>
              <li>Magang/ Praktik Kerja</li>
              <li>Penelitian</li>
              <li>Study/Proyek Independen</li>
              <li>Membangun Desa/Kuliah Kerja Nyata Tematik</li>
              <li>Kewirausahaan</li>
              <li>Proyek Kemanusiaan</li>
              <li>Asistensi Mengajar</li>
            </ul>
          </div>
        </div>

        <div
          class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style="
            background-image: url('/arsha/assets/img/mbkm-pelaksanaans.png');
          "
          data-aos="zoom-in"
          data-aos-delay="150"
        >
          &nbsp;
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</template>