<template>
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-title">
        <h2>Magang dan Studi Independen Bersertifikat (MSIB)</h2>
      </div>
      <div class="row">
        <div class="content">
          <div
            class="content"
            style="text-align: justify; text-justify: inter-word"
          >
            <p>
              Magang dan Studi Independen Bersertifikat (MSIB) merupakan salah
              satu program Merdeka Belajar Kampus Merdeka ( MBKM )
              Kemendikbudristek. Program ini memberikan fasilitas penuh bagi
              mahasiswa untuk mengenal dunia kerja serta dapat dikonversi
              maksimal 20 sks.
            </p>
            <p>
              Menteri Pendidikan, Kebudayaan, Riset, dan Teknologi
              (Mendikbudristek), Nadiem Anwar Makarim mengungkapkan bahwa MSIB
              bukanlah program magang atau studi independen biasa. Mitra
              Industri yang menjadi rekanan untuk MSIB adalah perusahaan dan
              organisasi kelas dunia yang sudah terjamin kredibilitasnya,
              sehingga mahasiswa mendapatkan bimbingan (mentoring) dari para
              ahli yang berpengalaman.
            </p>
            <p>
              Program MSIB Angkatan 3 dapat diikuti oleh mahasiswa yang
              terdaftar pada program Diploma II serendah-rendahnya pada jenjang
              semester 3, mahasiswa program Diploma III serendah-rendahnya pada
              jenjang semester 4, dan mahasiswa program Sarjana atau Sarjana
              Terapan serendah-rendahnya pada jenjang semester 5 pada saat
              Program MSIB ini dimulai.
            </p>
            <p>Berikut Adalah informasi terkait MSIB PENS :</p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a
                  data-bs-toggle="collapse"
                  class="collapsed"
                  data-bs-target="#accordion-list-1"
                  ><span>01</span> Form Pendaftaran MSIB
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-1"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                <p></p>
                  <a href="https://rb.gy/vhwakg" class="buy-btn"
                    >Lihat Dokumen</a
                  >
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2"
                  class="collapsed"
                  ><span>02</span> Format SPTJM MSIB
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-2"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                <p></p>
                  <a href="https://pens.id/FormatSPTJM-MSIB3" class="buy-btn"
                    >Lihat Dokumen</a
                  >
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3"
                  class="collapsed"
                  ><span>03</span> Daftar Peserta MSIB PENS
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-3"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p></p>
                  <a href="https://pens.id/DaftarPesertaMSIB" class="buy-btn"
                    >Lihat Dokumen</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img">
          &nbsp;
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</template>