<template>
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-title">
        <h2>Talent Scout Academy (TSA)</h2>
      </div>
      <div class="row">
        <div class="content">
          <div
           
            style="text-align: justify; text-justify: inter-word"
          >
            <p>
              TSA adalah peningkatan kompetensi dan pemberian kesempatan
              sertifikasi global bagi mahasiswa tingkat akhir yang terseleksi.
              Program ini ditujukan bagi para mahasiswa diploma 4/strata 1
              tingkat akhir yang memiliki passion, bakat dan minat di bidang
              Teknologi informasi dan komunikasi (TIK). Berbeda dengan akademi
              lainnya, TSA juga bekerja sama dengan Kampus Merdeka yang
              mengusung sistem Micro Credentials, di mana materi-materi yang
              diberikan akan dikonversikan menjadi SKS. Setelah menyelesaikan
              pelatihan, siswa yang terpilih bisa mendapatkan kesempatan untuk
              magang di perusahaan-perusahaan yang bekerja sama dengan mitra
              TSA. Pelatihan TSA yang akan dilaksanakan lebih lanjut ini
              memiliki beberapa tema yang disesuaikan dengan perkembangan
              teknologi dan kebutuhan industri di bidang teknologi informasi dan
              komunikasi (TIK). Tema-tema tersebut diantaranya networking, data
              science, artificial intelligence, programming, gamification
              authoring tool dan tema-tema bidang TIK lainnya.
            </p>

            <p>Berikut Adalah informasi terkait TSA PENS :</p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a
                  data-bs-toggle="collapse"
                  class="collapsed"
                  data-bs-target="#accordion-list-1"
                  ><span>01</span> Form Pendaftaran TSA
                  <i class="bx bx-chevron-down icon-shoW"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-1"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p></p>
                  <a href="https://rb.gy/vhwakg" class="buy-btn"
                    >Lihat Dokumen</a
                  >
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2"
                  class="collapsed"
                  ><span>02</span> Daftar Peserta TSA PENS
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-2"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p></p>
                  <a href="https://pens.id/DaftarPesertaTSA" class="buy-btn"
                    >Lihat Dokumen</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img">
          &nbsp;
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</template>