<template>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <headers />
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <hero />
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>DOSEN</h2>
          <p>
            Berikut adalah halaman terkait informasi Kurikulum dan MBKM yang
            disediakan untuk Dosen.
          </p>
        </div>
        <div class="row">
          <div
            class="
              col-lg-7
              d-flex
              flex-column
              justify-content-center
              align-items-stretch
              order-2 order-lg-1
            "
          >
            <div class="content">
              <h3>
                <strong>Berikut informasi terkait Kurikulum</strong>
              </h3>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a
                    data-bs-toggle="collapse"
                    class="collapsed"
                    data-bs-target="#accordion-list-1"
                    ><span>01</span> Departemen Teknik Elektronika
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>

                  <div
                    id="accordion-list-1"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p></p>

                    <h5><p>D3 Teknik Elektronika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D3 Teknik Telekomunikasi</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D3 Teknik Elektro Industri</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D3 Teknik Elektro Industri - PLN</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D3 Teknik Elektronika - GMF</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p></p></h5>
                    <h5><p>D4 Teknik Elektronika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Teknik Telekomunikasi</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Teknik Elektro Industri</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>S2 Teknik Elektro.</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-2"
                    class="collapsed"
                    ><span>02</span> Departemen Teknik Informatika dan Komputer
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-2"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <h5><p>D3 Teknik Informatika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="https://drive.google.com/file/d/1tEKF6VjW2FRLCtRzSLa1QyJpoRhYIoBC/view?usp=sharing"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Teknik Informatika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="https://drive.google.com/file/d/1LstE4byNVyVHSyxLFyXPrbEVpXHgNVPl/view?usp=sharing"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Teknik Komputer</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>S2 Terapan Teknik Informatika dan Komputer</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <br />
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-3"
                    class="collapsed"
                    ><span>03</span> Departemen Teknik Mekanika Energi
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-3"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <h5><p>D4 Teknik Mekatronika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Sistem Pembangkit Energi (SPE)</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <br />
                  </div>
                </li>
                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-4"
                    class="collapsed"
                    ><span>04</span> Departemen Teknik Teknologi Multimedia
                    Kreatif <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-4"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <h5><p>D3 Multimedia Broadcasting (MMB) </p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Game Technology (GT)</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            &nbsp;
          </div>
        </div>
      </div>
    </section>
    <!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h4>
            <p>
              Berikut adalah halaman terkait informasi Dokumen terkait MBKM yang
              disediakan untuk dosen.
            </p>
          </h4>
        </div>

        <div class="row">
          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Alur MBKM</a></h4>
              <p>Berikut beberapa alur yang ada dalam kegiatan MBKM batch 3.</p>
              <br />
              <ul>
                <li>
                  <a
                    href="https://drive.google.com/file/d/15IlWX_nSyGY6WmPe-Sc9OTg7GlHRGaB-/view?usp=sharing"
                    >Alur Pra Kegiatan MBKM</a
                  >
                </li>
                <li>
                  <a
                    href="https://drive.google.com/file/d/196XyoByjKi_FZ0noH-G6tSpPlft4K_hH/view?usp=sharing"
                    >Alur Kegiatan MBKM</a
                  >
                </li>
                <li>
                  <a
                    href="https://drive.google.com/file/d/1NnW1pps40XWen2rPTKEsgxdp2Tni8Dwb/view?usp=sharing"
                    >Alur Pasca MBKM</a
                  >
                </li>
                <li>
                  <a
                    href="https://drive.google.com/file/d/11nII_T0IdoNgIyOG2iwmU7EeklMBkhkY/view?usp=sharing"
                    >Alur Monitoring MBKM</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-xl-3 col-md-8 d-flex align-items-stretch mt-4 mt-xl-0"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon"><i class="bi-person"></i></div>
              <h4><a href="">Daftar Peserta MBKM</a></h4>
              <p>Berikut Daftar Peserta MBKM PENS.</p>
              <br />
              <br />
              <ul>
                <li>
                  <a href="https://rb.gy/p3or16"
                    >Daftar Peserta MBKM PENS (Peserta MSIB Angkatan 1 & 2)
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Link Unduhan Format Dokumen</a></h4>
              <p>
                Berikut Link Unduhan untuk format kelengkapan dokumen pada
                setiap alur yang ada.
              </p>
              <br />
              <ul>
                <li>
                  <a
                    href="https://docs.google.com/document/d/1vFq_KtHONhOqz0xgANMOl7wQ1oy4azLD/edit"
                    >Format Formulir Pendaftaran MBKM PENS</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/document/d/1WpVTezeSQY4_7e-uxwmqDsp7wUr0cfBG/edit"
                    >Format Surat Rekomendasi MSIB Angkatan 3</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/document/d/1Q2whnG_aCcwIl7fJ9gODasgJxy4DFscf/edit"
                    >Format Surat Pertanggung Jawaban Mutlak (SPTJM) MSIB
                    Angkatan 3</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSf2AXNZadJkcKDmJtU8gTLHM--tMtEYQreIVDjdGfXKrH7nzg/viewform"
                    >Formulir permohonan ttd Wakil Direktur Bidang Akademik
                    untuk SPTJM</a
                  >
                </li>
                <li>
                  <a
                    href="https://drive.google.com/drive/folders/1ChJLd55Fc1-xp6xdUABjb_JKTFEAcSB8"
                    >Unduh SPTJM yang sudah ditandatangani Wakil Direktur Bidang
                    Akademik</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-info-square"></i></div>
              <h4><a href="">Informasi MBKM Lainnya</a></h4>
              <p>Berikut Informasi terkait MBKM lain yang dapat diakses.</p>
              <br />
              <ul>
                <li>
                  <a
                    href="https://drive.google.com/file/d/1o6qNiTIegmSG6taguElmav9s1CH22uAv/view?usp=sharing"
                    >Konversi SKS MBKM 2022 PENS</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Tentang Kami Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h4>Sertifikasi AA dan Pekerti</h4>
        </div>

        <div class="row content">
          <div
            class="col-lg-6"
            style="text-align: justify; text-justify: inter-word"
          >
            <p>
              PEKERTI-AA menjadi penting dalam pengembangan profesionalisme
              dosen karena kurikulum yang ditetapkan oleh DIKTI sejalan dengan
              amanat UU No. 14 tahun 2005 tentang Guru dan Dosen. Disebutkan
              bahwa, beban kerja dosen mencakup kegiatan pokok, yaitu
              perencanaan, pelaksanaan proses, penilaian hasil pembelajaran,
              pembimbingan dan pelatihan, serta melakukan penelitian. Di samping
              itu melaksanakan tugas tambahan dan pengabdian kepada masyarakat.
              Program PEKERTI-AA merupakan program pelatihan yang dirancang
              Direktorat Jenderal Pendidikan Tinggi untuk peningkatan kompetensi
              pedagogik bagi para dosen. Bila dicermati lebih dalam produk
              program pelatihan PEKERTI-AA merupakan instrumen tagihan
              akreditasi program studi dalam proses pembelajaran.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore
              eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- End Tentang Kami Section -->
  </main>

  <!-- ======= Cta Section ======= -->
  <!-- <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Call To Action</h3>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>
      </div>
    </section> -->
  <!-- End Cta Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <footers />
  </footer>
  <!-- End Footer -->
</template>

<script>
import Headers from "../../components/Header.vue";
import Hero from "../../components/Hero.vue";
import Footers from "../../components/Footer.vue";
export default {
  components: {
    Headers,
    Hero,
    Footers,
  },
};
</script>
