<template>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <headers />
  </header>

  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <hero />
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/../../../public/arsha/assets/img/clients/client-1.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/../../../public/arsha/assets/img/clients/client-2.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../public/arsha/assets/img/clients/client-3.png"
              
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../../public/arsha/assets/img/clients/client-4.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/../../../public/arsha/assets/img/clients/client-5.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/../../../public/arsha/assets/img/clients/client-6.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Cliens Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>Home</h2>
          <p></p>
        </div>
        <div class="row">
          <div
            class="
              col-lg-7
              d-flex
              flex-column
              justify-content-center
              align-items-stretch
              order-2 order-lg-1
            "
          >
            <div class="content">
              <h3>
                <strong>Pelaksanaan MBKM</strong>
              </h3>
              <p>
                Bentuk kegiatan pembelajaran sesuai dengan Permendikbud No 3
                Tahun 2020 Pasal 15 ayat 1 dapat dilakukan di dalam program
                studi dan di luar program studi. Mahasiswa PENS dapat mengambil
                mata kuliah maksimal 20 sks pada program studi lain di dalam
                PENS dan maksimal 40 sks pada program studi di luar PENS.
              </p>
              <ul>
                <li>Pertukaran Pelajar</li>
                <li>Magang/ Praktik Kerja</li>
                <li>Penelitian</li>
                <li>Study/Proyek Independen</li>
                <li>Membangun Desa/Kuliah Kerja Nyata Tematik</li>
                <li>Kewirausahaan</li>
                <li>Proyek Kemanusiaan</li>
                <li>Asistensi Mengajar</li>
              </ul>
            </div>
          </div>

          <div
            class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            style="
              background-image: url('/../../../public/arsha/assets/img/mbkm-pelaksanaans.png');
            "
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            &nbsp;
          </div>
        </div>
      </div>
    </section>
    <!-- End Why Us Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Frequently Asked Questions (FAQ)</h2>
          <p>Berikut beberapa pertanyaan yang ditanyakan terkait UP2AI</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i>
              <a
                data-bs-toggle="collapse"
                class="collapse"
                data-bs-target="#faq-list-1"
                >Apakah UP2AI itu? <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div
                id="faq-list-1"
                class="collapse show"
                data-bs-parent=".faq-list"
              >
                <p>
                  UP2AI adalah singkatan dari UNIT PENINGKATAN DAN PENGEMBANGAN
                  AKTIVITAS INSTRUKSIONAL yang memiliki moto "Memberikan
                  pelayanan terbaik dan profesional dengan sepenuh hati"
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#faq-list-2"
                class="collapsed"
                >Apa itu MBKM? <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Merdeka Belajar–Kampus Merdeka (MBKM) merupakan salah satu
                  kebijakan dari Menteri Pendidikan, Kebudayaan, Riset dan
                  Teknologi, Nadiem Anwar Makarim. Salah satu program dari
                  kebijakan MBKM adalah hak belajar tiga semester di luar
                  program studi. Program tersebut merupakan amanah dari berbagai
                  regulasi/landasan hukum pendidikan tinggi dalam rangka
                  peningkatan mutu pembelajaran dan lulusan pendidikan tinggi.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#faq-list-3"
                class="collapsed"
                >Siapa saja yang bisa mengikuti kegiatan MBKM?
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  <br />* Mahasiswa berasal dari program studi yang
                  terakreditasi. <br />* Mahasiswa aktif yang terdaftar pada
                  PDDikti. <br />* Mahasiswa terdaftar di tahun akademik
                  berjalan. <br />* Mahasiswa memiliki dosen pendamping dalam
                  mengikuti berbagai kegiatan. <br />
                  * Mahasiswa mendaftar kegiatan MBKM sebelum kegiatan dimulai.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#faq-list-4"
                class="collapsed"
                >Bagaimana konversi SKS terhadap kegiatan MBKM yang dilakukan?
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Berdasar Panduan MBKM Dikti 2020, maka kegiatan MBKM dapat
                  dilakukan diluar program studi namun masih dalam lingkup PENS
                  selama satu semester (setara maksimal 20 sks) dan dapat
                  dilakukan diluar PENS maksimal selama dua semester (setara
                  maksimal 40 sks). Kegiatan MBKM dapat dikonversikan menjadi
                  sks mata kuliah program studi melalui proses ekivalensi, yaitu
                  penyetaraan dengan mata kuliah yang ada di program studi, atau
                  pengakuan secara langsung sebagai mata kuliah baru di dalam
                  program studi. Untuk melihat detail bisa mengakses link
                  berikut :
                  <br /><a
                    href="https://drive.google.com/file/d/1o6qNiTIegmSG6taguElmav9s1CH22uAv/view?usp=sharing"
                    >Lihat Konversi SKS</a
                  >
                </p>
              </div>
            </li>

            <!-- <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i>
              <a
                data-bs-toggle="collapse"
                data-bs-target="#faq-list-5"
                class="collapsed"
                >Tortor vitae purus faucibus ornare. Varius vel pharetra vel
                turpis nunc eget lorem dolor?
                <i class="bx bx-chevron-down icon-show"></i
                ><i class="bx bx-chevron-up icon-close"></i
              ></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris
                  vitae ultricies leo integer malesuada nunc vel. Tincidunt eget
                  nullam non nisi est sit amet. Turpis nunc eget lorem dolor
                  sed. Ut venenatis tellus in metus vulputate eu scelerisque.
                </p>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </section>
    <!-- End Frequently Asked Questions Section -->
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <footers />
  </footer>
  <!-- End Footer -->
</template>

<script>
import Headers from "../../components/Header.vue";
import Hero from "../../components/Hero.vue";
import Footers from "../../components/Footer.vue";
export default {
  components: {
    Headers,
    Hero,
    Footers,
  },
};
</script>


