<template>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <headers />
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <hero />
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Mahasiswa</h2>
          <p>
            Berikut adalah halaman terkait informasi MBKM yang disediakan untuk
            mahasiswa.
          </p>
        </div>

        <div class="row">
          <div
            class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Alur MBKM</a></h4>
              <p>Berikut beberapa alur yang ada dalam kegiatan MBKM batch 3.</p>
              <br />
              <ul>
                <li>
                  <a
                    href="https://drive.google.com/file/d/15IlWX_nSyGY6WmPe-Sc9OTg7GlHRGaB-/view?usp=sharing"
                    >Alur Pra Kegiatan MBKM</a
                  >
                </li>
                <li>
                  <a
                    href="https://drive.google.com/file/d/196XyoByjKi_FZ0noH-G6tSpPlft4K_hH/view?usp=sharing"
                    >Alur Kegiatan MBKM</a
                  >
                </li>
                <li>
                  <a
                    href="https://drive.google.com/file/d/1NnW1pps40XWen2rPTKEsgxdp2Tni8Dwb/view?usp=sharing"
                    >Alur Pasca MBKM</a
                  >
                </li>
                <li>
                  <a
                    href="https://drive.google.com/file/d/11nII_T0IdoNgIyOG2iwmU7EeklMBkhkY/view?usp=sharing"
                    >Alur Monitoring MBKM</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-xl-4 col-md-8 d-flex align-items-stretch mt-4 mt-xl-0"
            data-aos="zoom-in"
            data-aos-delay="300"
          >
            <div class="icon-box">
              <div class="icon"><i class=" bi-person"></i></div>
              <h4><a href="">Daftar Peserta MBKM</a></h4>
              <p>Berikut Daftar Peserta MBKM PENS.</p>
              <br />
              <br />
              <ul>
                <li>
                  <a href="https://rb.gy/p3or16"
                    >Daftar Peserta MBKM PENS (Peserta MSIB Angkatan 1 & 2)
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-xl-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Link Unduhan Format Dokumen</a></h4>
              <p>
                Berikut Link Unduhan untuk format kelengkapan dokumen pada
                setiap alur yang ada.
              </p>
              <br />
              <ul>
                <li>
                  <a
                    href="https://docs.google.com/document/d/1vFq_KtHONhOqz0xgANMOl7wQ1oy4azLD/edit"
                    >Format Formulir Pendaftaran MBKM PENS</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/document/d/1WpVTezeSQY4_7e-uxwmqDsp7wUr0cfBG/edit"
                    >Format Surat Rekomendasi MSIB Angkatan 3</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/document/d/1Q2whnG_aCcwIl7fJ9gODasgJxy4DFscf/edit"
                    >Format Surat Pertanggung Jawaban Mutlak (SPTJM) MSIB
                    Angkatan 3</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSf2AXNZadJkcKDmJtU8gTLHM--tMtEYQreIVDjdGfXKrH7nzg/viewform"
                    >Formulir permohonan ttd Wakil Direktur Bidang Akademik
                    untuk SPTJM</a
                  >
                </li>
                <li>
                  <a
                    href="https://drive.google.com/drive/folders/1ChJLd55Fc1-xp6xdUABjb_JKTFEAcSB8"
                    >Unduh SPTJM yang sudah ditandatangani Wakil Direktur Bidang
                    Akademik</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->
  </main>

  <!-- ======= Cta Section ======= -->
  <!-- <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Call To Action</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Call To Action</a>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Cta Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <footers />
  </footer>
  <!-- End Footer -->
</template>

<script>
import Headers from "../../components/Header.vue";
import Hero from "../../components/Hero.vue";
import Footers from "../../components/Footer.vue";

export default {
  components: {
    Headers,
    Hero,
    Footers,
  },
};
</script>
