<template>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <headers />
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <hero />
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>Prodi</h2>
          <p>
            Berikut adalah halaman terkait informasi Kurikulum dan MBKM yang
            disediakan untuk Prodi.
          </p>
        </div>
        <div class="row">
          <div
            class="
              col-lg-7
              d-flex
              flex-column
              justify-content-center
              align-items-stretch
              order-2 order-lg-1
            "
          >
            <div class="content">
              <h3>
                <strong>Berikut informasi terkait Kurikulum</strong>
              </h3>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a
                    data-bs-toggle="collapse"
                    class="collapsed"
                    data-bs-target="#accordion-list-1"
                    ><span>01</span> Departemen Teknik Elektronika
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>

                  <div
                    id="accordion-list-1"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p></p>

                    <h5><p>D3 Teknik Elektronika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D3 Teknik Telekomunikasi</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D3 Teknik Elektro Industri</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D3 Teknik Elektro Industri - PLN</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D3 Teknik Elektronika - GMF</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p></p></h5>
                    <h5><p>D4 Teknik Elektronika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Teknik Telekomunikasi</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Teknik Elektro Industri</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>S2 Teknik Elektro.</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-2"
                    class="collapsed"
                    ><span>02</span> Departemen Teknik Informatika dan Komputer
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-2"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <h5><p>D3 Teknik Informatika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="https://drive.google.com/file/d/1tEKF6VjW2FRLCtRzSLa1QyJpoRhYIoBC/view?usp=sharing"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Teknik Informatika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="https://drive.google.com/file/d/1LstE4byNVyVHSyxLFyXPrbEVpXHgNVPl/view?usp=sharing"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Teknik Komputer</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>S2 Terapan Teknik Informatika dan Komputer</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <br />
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-3"
                    class="collapsed"
                    ><span>03</span> Departemen Teknik Mekanika Energi
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-3"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <h5><p>D4 Teknik Mekatronika</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Sistem Pembangkit Energi (SPE)</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <br />
                  </div>
                </li>
                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-4"
                    class="collapsed"
                    ><span>04</span> Departemen Teknik Teknologi Multimedia
                    Kreatif <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-4"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <h5><p>D3 Multimedia Broadcasting (MMB) </p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                    <h5><p>D4 Game Technology (GT)</p></h5>
                    Berikut Link kurikulum yang bisa diakses<a
                      href="#"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            &nbsp;
          </div>
        </div>
      </div>
    </section>
    <!-- End Why Us Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row">
          <div
            class="
              col-lg-7
              d-flex
              flex-column
              justify-content-center
              align-items-stretch
              order-2 order-lg-1
            "
          >
            <div class="content">
              <h3>
                <strong>Berikut informasi terkait MBKM</strong>
              </h3>
              <p>
                Untuk informasi yang belum jelas bisa menghubungi tim UP2AI.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-11"
                    class="collapsed"
                    ><span>01</span> List Mahasiswa MBKM 2022
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-11"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p>
                      Berikut list mahasiswa yang sudah lolos Program MBKM dari
                      sesi awal sd saat ini, sesi awal adalah angkatan 1 dan 2.
                      Yang saat ini sedang berjalan adalah angkatan 3.
                    </p>
                    <br />
                    <a
                      href="https://rb.gy/p3or16"
                      class="buy-btn"
                      style="right: auto"
                      >Lihat List Mahasiswa</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            &nbsp;
          </div>
        </div>
      </div>
    </section>
    <!-- End Why Us Section -->
  </main>

  <!-- ======= Cta Section ======= -->
  <!-- <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Call To Action</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Call To Action</a>
        </div>
      </div>
    </div>
  </section> -->
  <!-- End Cta Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <footers />
  </footer>
  <!-- End Footer -->
</template>

<script>
import Headers from "../../components/Header.vue";
import Hero from "../../components/Hero.vue";
import Footers from "../../components/Footer.vue";
export default {
  components: {
    Headers,
    Hero,
    Footers,
  },
};
</script>
