<template>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <headers />
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <hero />
  </section>
  <!-- End Hero -->

  <main id="main">
        <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <h2>Umum</h2>
          <p>
            
          </p>
        </div>
        <div class="row">
          <div
            class="
              col-lg-7
              d-flex
              flex-column
              justify-content-center
              align-items-stretch
              order-2 order-lg-1
            "
          >
            <div class="content">
              <h3>
                <strong>Pelaksanaan MBKM</strong>
              </h3>
              <p>
                Bentuk kegiatan pembelajaran sesuai dengan Permendikbud No 3
                Tahun 2020 Pasal 15 ayat 1 dapat dilakukan di dalam program
                studi dan di luar program studi. Mahasiswa PENS dapat mengambil
                mata kuliah maksimal 20 sks pada program studi lain di dalam
                PENS dan maksimal 40 sks pada program studi di luar PENS.
              </p>
              <ul>
                <li>Pertukaran Pelajar</li>
                <li>Magang/ Praktik Kerja</li>
                <li>Penelitian</li>
                <li>Study/Proyek Independen</li>
                <li>Membangun Desa/Kuliah Kerja Nyata Tematik</li>
                <li>Kewirausahaan</li>
                <li>Proyek Kemanusiaan</li>
                <li>Asistensi Mengajar</li>
              </ul>
            </div>
          </div>

          <div
            class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            style="
              background-image: url('/arsha/assets/img/mbkm-pelaksanaans.png');
            "
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            &nbsp;
          </div>
        </div>
      </div>
    </section>
    <!-- End Why Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">
          <div
            class="
              col-lg-7
              d-flex
              flex-column
              justify-content-center
              align-items-stretch
              order-2 order-lg-1
            "
          >
            <div class="content">
              <h3>
                <strong>Berikut informasi terkait MBKM 2022</strong>
              </h3>
              <p>
                Untuk informasi yang belum jelas bisa menghubungi tim UP2AI.
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a
                    data-bs-toggle="collapse"
                    class="collapsed"
                    data-bs-target="#accordion-list-1"
                    ><span>01</span> Kurikulum D3 2022
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>

                  <div
                    id="accordion-list-1"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p></p>

                    <p>D3 & D4 sudah bukan murni paket → sistem SKS</p>
                    <p>
                      Mahasiswa boleh mengikuti kegiatan MBKM di semester 5.
                      Minimal mengikuti program MBKM yang berjenis Magang
                      Industri 3 bulan.
                    </p>
                    <p>
                      Mahasiswa yang berkegiatan untuk PENS (Lomba2, dll) boleh
                      mendapat pengakuan SKS di MK Kreatifitas Mahasiswa di
                      semester 2,3, dan 4 (per semester maksimal 1 SKS). Jenis
                      kegiatan: semua kegiatan lomba dan Unit Kegiatan Mahasiswa
                      yang sudah diakui bagian kemahasiswaan. Nilai ditentukan
                      berdasarkan prestasi.
                    </p>
                    <br />
                    
                    <a
                      href="https://drive.google.com/file/d/1tEKF6VjW2FRLCtRzSLa1QyJpoRhYIoBC/view?usp=sharing"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-2"
                    class="collapsed"
                    ><span>02</span> Kurikulum D4 2022
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-2"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p>
                      Mahasiswa boleh mengikuti kegiatan MBKM di semester 6 dan
                      7
                    </p>

                    <p>
                      Mahasiswa yang berkegiatan untuk PENS (Lomba2, dll) boleh
                      mendapat pengakuan SKS di MK Kreatifitas Mahasiswa di
                      semester 2,3,4, dan 5 (per semester maksimal 1 SKS).
                    </p>
                    <p>
                      Mahasiswa yang mengikuti riset dosen boleh mendapat
                      pengakuan SKS di MK Research Independen pada semester
                      4,5,6 dan 7 (per semester maksimal 2 SKS)
                    </p>

                    <br />
                    <a
                      href="https://drive.google.com/file/d/1LstE4byNVyVHSyxLFyXPrbEVpXHgNVPl/view?usp=sharing"
                      class="buy-btn"
                      >Lihat Kurikulum</a
                    >
                  </div>
                </li>

                <li>
                  <a
                    data-bs-toggle="collapse"
                    data-bs-target="#accordion-list-3"
                    class="collapsed"
                    ><span>03</span> List Mahasiswa MBKM 2022
                    <i class="bx bx-chevron-down icon-show"></i
                    ><i class="bx bx-chevron-up icon-close"></i
                  ></a>
                  <div
                    id="accordion-list-3"
                    class="collapse"
                    data-bs-parent=".accordion-list"
                  >
                    <p>
                      Berikut list mahasiswa yang sudah lolos Program MBKM dari
                      sesi awal sd saat ini, sesi awal adalah angkatan 1 dan 2. Yang saat ini sedang berjalan adalah angkatan 3.
                    </p>
                    <br />
                    <a
                      href="https://rb.gy/p3or16"
                      class="buy-btn"
                      style="right: auto"
                      >Lihat List Mahasiswa</a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div
            class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
            data-aos="zoom-in"
            data-aos-delay="150"
          >
            &nbsp;
          </div>
        </div>
      </div>
    </section>
    <!-- End Why Us Section -->
  </main>

  <!-- ======= Cta Section ======= -->
    <!-- <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Call To Action</h3>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>
      </div>
    </section> -->
    <!-- End Cta Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <footers />
  </footer>
  <!-- End Footer -->
</template>

<script>
import Headers from "../../components/Header.vue";
import Hero from "../../components/Hero.vue";
import Footers from "../../components/Footer.vue";
export default {
  components: {
    Headers,
    Hero,
    Footers,
  },
};
</script>
