<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
     <!-- Favicons -->
  <link href="/arsha/assets/img/favicon.png" rel="icon">
  <link href="/arsha/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="/arsha/assets/vendor/aos/aos.css" rel="stylesheet"> -->
  <link href="/arsha/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/arsha/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/arsha/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/arsha/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/arsha/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/arsha/assets/css/style.css" rel="stylesheet">

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="/arsha/assets/vendor/aos/aos.js"></script>
    <script src="/arsha/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script src="/arsha/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/arsha/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/arsha/assets/vendor/php-email-form/validate.js"></script>
    <script src="/arsha/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/arsha/assets/vendor/waypoints/noframework.waypoints.js"></script>
  </body>
</html>
