<template>
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-title">
        <h2>KURIKULUM</h2>
        <p>
          Berikut adalah halaman terkait informasi Kurikulum terbaru yang
          tersedia.
        </p>
      </div>
      <div class="row">
        <div
          class="
            col-lg-7
            d-flex
            flex-column
            justify-content-center
            align-items-stretch
            order-2 order-lg-1
          "
        >
          <div class="content">
            <h3>
              <strong></strong>
            </h3>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a
                  data-bs-toggle="collapse"
                  class="collapsed"
                  data-bs-target="#accordion-list-1"
                  ><span>01</span> Departemen Teknik Elektronika
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>

                <div
                  id="accordion-list-1"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p></p>

                  <h5><p>D3 Teknik Elektronika</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/qqodcy"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D3 Teknik Telekomunikasi</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/yvtbrf"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D3 Teknik Elektro Industri</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/pydwjs"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D3 Teknik Elektro Industri - PLN</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="#"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D3 Teknik Elektronika - GMF</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="#"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p></p></h5>
                  <h5><p>D4 Teknik Elektronika</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/79adqn"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D4 Teknik Telekomunikasi</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/umcbzt"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D4 Teknik Elektro Industri</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/nbgtiz"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D4 Teknologi Rekayasa Internet</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/xmmvoi"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>S2 Teknik Elektro.</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/dlfsak"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2"
                  class="collapsed"
                  ><span>02</span> Departemen Teknik Informatika dan Komputer
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-2"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <h5><p>D3 Teknik Informatika</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/e4curw"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D4 Teknik Informatika</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/1ho7hf"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D4 Teknik Komputer</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/tzixv0"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D4 Sains Data Terapan</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/gvwdcc"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>S2 Terapan Teknik Informatika dan Komputer</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/zjdbc5"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <br />
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3"
                  class="collapsed"
                  ><span>03</span> Departemen Teknik Mekanika Energi
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-3"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <h5><p>D4 Teknik Mekatronika</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/fbak3e"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D4 Sistem Pembangkit Energi (SPE)</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/pjuid"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <br />
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-4"
                  class="collapsed"
                  ><span>04</span> Departemen Teknik Teknologi Multimedia
                  Kreatif <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-4"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <h5><p>D3 Multimedia Broadcasting (MMB) </p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/nm1yws"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                  <h5><p>D4 Game Technology (GT)</p></h5>
                  Berikut Link kurikulum yang bisa diakses<a
                    href="https://rb.gy/gtem6j"
                    class="buy-btn"
                    >Lihat Kurikulum</a
                  >
                </div>
              </li>


              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-5"
                  class="collapsed"
                  ><span>05</span> Data RPS
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-5"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <h5><p>Format RPS </p></h5>
                  Berikut Link RPS yang bisa diakses<a href="https://rb.gy/jlnmkc" class="buy-btn"
                    >Lihat Format</a
                  >
                  <h5><p>Panduan Pengisian Format RPS</p></h5>
                  Berikut Link RPS yang bisa diakses<a href="https://rb.gy/6yxejh" class="buy-btn"
                    >Lihat Panduan</a
                  >
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-6"
                  class="collapsed"
                  ><span>06</span> Infromasi Lain Terkait Kurikulum
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-6"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <h5><p>Rekapitulasi SKS Hasil Konversi </p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/0oh8wb" class="buy-btn"
                    >Lihat Rekapitulasi</a
                  >
                  <h5><p>Template Kurikulum D4</p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/p3or16" class="buy-btn"
                    >Lihat</a
                  >
                  <h5><p>Template Kurikulum D3</p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/via1tf" class="buy-btn"
                    >Lihat</a
                  >
                  <h5><p>Kode MK Pilihan Institusi</p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/wkznht" class="buy-btn"
                    >Lihat</a
                  >
                  <h5><p>Kode MK MBKM</p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/cpecen" class="buy-btn"
                    >Lihat</a
                  >
                  <h5><p>Kode MK Pilihan Kreativitas</p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/xnmv9x" class="buy-btn"
                    >Lihat</a
                  >
                  <h5><p>Sebaran MK Wajib Institusi</p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/bahuad" class="buy-btn"
                    >Lihat</a
                  >
                  <h5><p>Rekapitulasi SKS dan JS</p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/e7xytd" class="buy-btn"
                    >Lihat</a
                  >
                   <h5><p>Data Kesamaan nama MK</p></h5>
                  Berikut Link yang bisa diakses<a href="https://rb.gy/fwybul" class="buy-btn"
                    >Lihat</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          data-aos="zoom-in"
          data-aos-delay="150"
        >
          &nbsp;
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
</template>