<template>
  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100"></div>

        <div
          class="col-lg-4 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="box featured">
          
              <div class="card-body">
                <div
                  class="alert alert-danger"
                  v-for="(error, index) in errors"
                  :key="index"
                >
                  {{ error[0] }}
                </div>
                <form @submit.prevent="submit">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input
                      v-model="form.email"
                      type="email"
                      class="form-control"
                      placeholder="Email.."
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      v-model="form.password"
                      type="password"
                      class="form-control"
                      placeholder="Password.."
                    />
                  </div>
                  <button @click="login()" class="btn btn-primary">Submit</button>
                </form>
              </div>
            
          </div>
        </div>

        <div
          class="col-lg-4 mt-4 mt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        ></div>
      </div>
    </div>
  </section>
  <!-- End Pricing Section -->
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
      errors: null,
    };
  },
  methods: {
    userLogin() {
      this.$store
        .dispatch("login", this.form)
        .then((response) => {
          console.log(response);
          this.$router.push({ name: "homes" });
        })
        .catch((error) => {
          this.errors = error.response.data.errors;
        });
    },
    login()
    {
      if (this.form.email != "" && this.form.password != "") {
        if (
          this.form.email == "dian@pens.ac.id" &&
          this.form.password == "password"
        ) {
          this.$router.replace("/mainlayout/inmaillist");
        } else {
          alert("The username and / or password masih salah");
        }
      } else {
        alert("A username and password harus diisi");
      }
    }
  },
};
</script>
