<template>
  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>MBKM Kampus Merdeka 2022</h3>
          <p>
            Merdeka Belajar–Kampus Merdeka (MBKM) merupakan salah satu kebijakan dari Menteri 
Pendidikan, Kebudayaan, Riset dan Teknologi, Nadiem Anwar Makarim. Salah satu program dari 
kebijakan MBKM adalah hak belajar tiga semester di luar program studi. Program tersebut 
merupakan amanah dari berbagai regulasi/landasan hukum pendidikan tinggi dalam rangka 
peningkatan mutu pembelajaran dan lulusan pendidikan tinggi
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#/mbkm">Selengkapnya</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Cta Section -->

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>UP2AI</h3>
          <p>
            Politeknik Elektronika Negeri Surabaya <br />
            Jl. Raya ITS Sukolilo Kampus PENS<br />
            Surabaya, Jawa Timur <br /><br />
            <strong>Phone:</strong> +1 5589 55488 55<br />
            <strong>Email:</strong> p3ai@pens.ac.id <br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Link yang Berkaitan</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://www.pens.ac.id/">Politeknik Elektronika Negeri Surabaya</a></li>
          </ul>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="https://kampusmerdeka.kemdikbud.go.id">Kampus Merderka</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">

        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Kontak Sosial UP2AI</h4>
          <p>
            Berikut beberapa media sosial yang kami gunakan
          </p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Arsha</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</template>