<template>
 
    
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="/arsha/assets/img/logo.png" alt="" class="img-fluid"></a>-->
 <!-- <div class="container d-flex align-items-center">
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="#/mhs">Mahasiswa|</a></li>
        <li><a href="#/dosen">Dosen|</a></li>
        <li><a href="#/prodi">Prodi|</a></li>
        <li><a href="#/umum">Umum|</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> 
  </div> -->


  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="index.html">UP2AI</a></h1>
    <h1 class="logo me-auto"><a href="index.html"></a></h1>
    <nav id="navbar" class="navbar">
      {{ count=1}}
      <p v-if="count === 0">
      <ul>
        
        <li><a class="nav-link scrollto" href="#/homes">Home</a></li>
        <!-- <li><a class="nav-link scrollto" href="#/about">Tentang Kami</a></li> -->
        <li class="dropdown"><a href=""><span>UP2AI</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#/about">Tentang Kami</a></li>
              <li><a href="#/tim">Tim Kami</a></li>
              <li><a href="#/contact">Contact</a></li>
            </ul>
          </li>
        <!-- <li class="dropdown"><a href=""><span>MBKM</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#/mbkm">Pedoman Umum</a></li>
              <li><a href="#/ismafo">IISMAVO</a></li>
              <li><a href="#/tsa">TSA</a></li>
              <li><a href="#/msib">MSIB</a></li>
              <li><a href="#/kompetisi">Kompetisi dan Lomba</a></li>
            </ul>
          </li> -->
        <!-- <li><a class="nav-link scrollto" href="#/kurikulum">Kurikulum</a></li>   -->
        <li><a class="nav-link scrollto" href="#/sdm">Pengembangan SDM</a></li> 
        <!-- <li><a class="nav-link scrollto" href="#/mbkm">MBKM</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#/tim">Tim Kami</a></li>
        <li><a class="nav-link scrollto" href="#/contact">Contact</a></li> -->
       <li class="dropdown"><a href="#/"><span>Lainnya</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#/unduhan">Unduhan</a></li>
              <!-- <li><a href="#/">..</a></li> -->
            </ul>
          </li>
      <li><a class="getstarted scrollto" href="#/login">Login</a></li>
      </ul>
      </p>
      <p v-else>
      <ul>
        
        <li><a class="nav-link scrollto" href="#/homes">Home</a></li>
        <!-- <li><a class="nav-link scrollto" href="#/about">Tentang Kami</a></li> -->
        <li class="dropdown"><a href=""><span>UP2AI</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#/about">Tentang Kami</a></li>
              <li><a href="#/tim">Tim Kami</a></li>
              <li><a href="#/contact">Contact</a></li>
            </ul>
          </li>
        <li class="dropdown"><a href=""><span>MBKM</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#/mbkm">Pedoman Umum</a></li>
              <li><a href="#/ismafo">IISMAVO</a></li>
              <li><a href="#/tsa">TSA</a></li>
              <li><a href="#/msib">MSIB</a></li>
              <li><a href="#/kompetisi">Kompetisi dan Lomba</a></li>
            </ul>
          </li>
        <li><a class="nav-link scrollto" href="#/kurikulum">Kurikulum</a></li>  
        <li><a class="nav-link scrollto" href="#/sdm">Pengembangan SDM</a></li> 
        <li><a class="nav-link scrollto" href="#/pedoman">Pedoman Akademik</a></li> 
        <!-- <li><a class="nav-link scrollto" href="#/mbkm">MBKM</a></li> -->
        <!-- <li><a class="nav-link scrollto" href="#/tim">Tim Kami</a></li>
        <li><a class="nav-link scrollto" href="#/contact">Contact</a></li> -->
       <li class="dropdown"><a href="#/"><span>Lainnya</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#/unduhan">Unduhan</a></li>
              <!-- <li><a href="#/">..</a></li> -->
            </ul>
          </li>
      <!-- <li><a class="getstarted scrollto" href="#/login">Login</a></li> -->
      </ul>
      </p>


      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <!-- .navbar -->
  </div>
</template>