<template>
  <div class="container">
    <div class="row">
      <div
        class="
          col-lg-6
          d-flex
          flex-column
          justify-content-center
          pt-2 pt-lg-0
          order-2 order-lg-1
        "
        data-aos="fade-up"
        data-aos-delay="80"
      >
        <h1>Unit Peningkatan dan Pengembangan Aktivitas Instruksional</h1>
        <b></b>
        <h2 style="italic">
          - Memberikan pelayanan terbaik dan profesional dengan sepenuh hati -
        </h2>
        <!-- <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a
              href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
              class="glightbox btn-watch-video"
              ><i class="bi bi-play-circle"></i><span>Watch Video</span></a
            >
          </div> -->
      </div>
      <div
        class="col-lg-5 order-2 order-lg-1 hero-img"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <img
          src="/arsha/assets/img/why-us.png"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</template>