<template>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <headers />
  </header>

  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <hero />
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/arsha/assets/img/clients/client-1.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/arsha/assets/img/clients/client-2.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/arsha/assets/img/clients/client-3.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="../../public/arsha/assets/img/clients/client-4.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/arsha/assets/img/clients/client-5.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="
              col-lg-2 col-md-4 col-6
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <img
              src="/arsha/assets/img/clients/client-6.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <router-view/>
    <!-- End Cliens Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <footers />
  </footer>
  <!-- End Footer -->
</template>

<script>
import Headers from "../components/Header.vue";
import Hero from "../components/Hero.vue";
import Footers from "../components/Footer.vue";
export default {
  components: {
    Headers,
    Hero,
    Footers,
  },
};
</script>


