<template>

  <!-- ======= Tentang Kami Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Tentang UP2AI</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>Visi</p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Menjadi fasilitator bagi
              peningkatan dan pengembangan isi dan proses pembelajaran yang
              berkualitas dan profesional di lingkungan PENS.
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <p>Misi</p>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Mengkoordinasi program studi
              dalam penyusunan dan pengembangan kurikulum sesuai dengan kemajuan
              teknologi dan kebutuhan pengguna.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Membangun dan mengembangkan
              proses pembelajaran yang efektif serta efisien sesuai dengan
              kebutuhan kompetensi bidang ilmu.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Membangun dan mengembangkan
              metode dan media pembelajaran yang relevan.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Melayani dan membantu staf
              akademik untuk peningkatan keterampilan aktivitas instruksional
              melalui program pelatihan dan pendampingan.
            </li>
            <li>
              <i class="ri-check-double-line"></i> Membantu manajemen pendidikan
              PENS dalam penyediaan data serta informasi untuk mengambil
              keputusan dalam peningkatan dan pengembangan kualitas pendidikan.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Tentang Kami Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
        <div
          class="
            col-lg-7
            d-flex
            flex-column
            justify-content-center
            align-items-stretch
            order-2 order-lg-1
          "
        >
          <div class="content">
            <h3>
              <strong>Struktur Organisasi UP2AI</strong>
            </h3>
            <p>
              Dalam menunjang kegiatan UP2AI secara menyeluruh, maka disusun
              tugas pokok dan fungsi sesuai dengan struktur organisasi untuk
              menghasilkan kinerja maksimal dari sumber daya manusia yang ada.
            </p>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#accordion-list-1"
                  ><span>01</span> Kepala UP2AI
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-1"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    1. Menyusun rencana kinerja dan program kerja jangka pendek
                    dan menengah berdasarkan rencana strategis dan kebijakan
                    institusi;
                  </p>
                  <p>
                    2. merencanakan, menyusun, dan melaksanakan pengayaan
                    program pengembangan aktivitas instruksional yang mampu
                    mendukung tercapainya sasaran kompetensi lulusan; 
                  </p>
                  <p>
                    3. merencanakan, menyusun, dan mengembangkan instrumen
                    pelaksanaan kurikulum dan metode pembelajaran; 
                  </p>
                  <p>
                    4. menjalankan fungsi konsultasi implementasi pengembangan
                    kurikulum, materi dan proses pembelajaran sebagai manajemen
                    layanan akademik kepada Program Studi;
                  </p>
                  <p>
                    5. menyelenggarakan berbagai kegiatan pelatihan dan
                    pendampingan dosen dalam mengembangkan materi dan proses
                    pembelajaran; 
                  </p>
                  <p>
                    6. mengkaji dan mengembangkan berbagai alternatif model
                    pembelajaran yang mampu meningkatkan mutu hasil
                    pembelajaran; 
                  </p>
                  <p>
                    7. menyusun Rencana Kinerja Tahunan (RKT) dan Penetapan
                    Kinerja berdasarkan kebijakan institusi; 
                  </p>
                  <p>
                    8. menetapkan, melaksanakan, mengevaluasi, mengendalikan,
                    dan meningkatkan mutu program/ kegiatan tahunan; 
                  </p>
                  <p>
                    9. menyusun rencana anggaran belanja (RAB) kegiatan Unit
                    Peningkatan dan Pengembangan Aktivitas Instruksional; 
                  </p>
                  <p>
                    10. merencanakan pengembangan sistem informasi Unit
                    Peningkatan dan Pengembangan Aktivitas Instruksional untuk
                    meningkatkan mutu pembelajaran; 
                  </p>
                  <p>
                    11. menyusun dokumen mutu pengelolaan dan merencanakan
                    pengembangan sistem informasi Unit Peningkatan dan
                    Pengembangan Aktivitas Instruksional untuk meningkatkan mutu
                    pembelajaran;
                  </p>
                  <p>12. menyusun laporan evaluasi kinerja tahunan;</p>
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-2"
                  class="collapsed"
                  ><span>02</span> Tim Kerja UP2AI
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-2"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    Membantu menjamin kelancaran dan ketercapaian tugas pokok
                    dan fungsi UP2AI.
                  </p>
                </div>
              </li>

              <li>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#accordion-list-3"
                  class="collapsed"
                  ><span>03</span> Administrasi UP2AI
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="accordion-list-3"
                  class="collapse"
                  data-bs-parent=".accordion-list"
                >
                  <p>
                    1. Mengelola media komunikasi UP2AI dengan pengguna layanan
                  </p>
                  <p>
                    2. Menyiapkan data pendukung yang berhubungan dengan
                    kegiatan UP2AI
                  </p>
                  <p>
                    3. Membuat laporan dan administrasi keuangan kegiatan UP2AI 
                  </p>
                  <p>
                    4. Melayani administrasi kegiatan yang berhubungan dengan
                    UP2AI 
                  </p>
                  <p>5. Melakukan pengarsipan dokumen kegiatan</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div
          class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style="background-image: url('/arsha/assets/img/struktur-up2ai.png')"
          data-aos="zoom-in"
          data-aos-delay="150"
        >
          &nbsp;
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Tentang Kami Section ======= -->
  <section id="sasaran" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row content">
        <div class="col-lg-6">
          <h3>
            <strong>Sasaran Mutu</strong>
          </h3>
          <ul>
            <li>
              <i class="ri-check-double-line"></i> Penerapan kurikulum merdeka
              belajar kampus merdeka pada seluruh program studi jenjang sarjana
              terapan
            </li>
            <li>
              <i class="ri-check-double-line"></i> Pemberlakuan 1 kurikulum
              untuk 1 prodi
            </li>
            <li>
              <i class="ri-check-double-line"></i> Pemutakhiran kurikulum
              dilakukan secara berkala sesuai dengan jenjang program studi
              (Magister Terapan = 3 tahun, Sarjana Terapan = 5 tahun, dan
              Diploma III = 4 tahun)
            </li>
            <li>
              <i class="ri-check-double-line"></i> Ketersediaan RPS dan Rubrik
              untuk tiap matakuliah
            </li>
            <li>
              <i class="ri-check-double-line"></i> Semua dosen memiliki
              sertifikat kompetensi pendidik Pekerti/AA
            </li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>
            <strong>Standar Waktu Pelayanan</strong>
          </h3>

          <img
            src="/arsha/assets/img/standar-waktu.png"
            class="img-fluid"
            alt=""
          />
          <p>
            Tabel diatas merupakan list waktu standar pelayanan tim UP2AI
            terhadap sintak dari pengguna.
          </p>
        </div>
      </div>
      <!-- <div class="row content">
          <div class="col-lg-6">
            <h3><strong>Kegiatan Unggulan</strong></h3>
            <p>
              Pembuatan Modul Ajar Video untuk Praktikum Berdasarkan evaluasi
              pembelajaran secara daring, mahasiswa mengalami lebih banyak
              kesulitan untuk memahami MK praktikum dan workshop. Oleh karena
              itu, tahun ini mengadakan program untuk pengadaan Modul Ajar Video
              untuk Praktikum (MAVP) dalam rangka membantu menyelesaikan
              permasalahan tersebut. MAVP dapat berupa pemanfaatan teknologi
              Augmented Reality / Virtual Reality, pengembangan perangkat lunak
              yang dibuat sendiri, maupun video simulasi aplikasi yang sudah
              ada.
            </p>
          </div>
        </div> -->
    </div>
  </section>
  <!-- End Tentang Kami Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="why-us section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6"
          style="text-align: justify; text-justify: inter-word"
        >
          <h3><strong>Kegiatan Unggulan</strong></h3>
          <p>
            Pembuatan Modul Ajar Video untuk Praktikum Berdasarkan evaluasi
            pembelajaran secara daring, mahasiswa mengalami lebih banyak
            kesulitan untuk memahami MK praktikum dan workshop. Oleh karena itu,
            tahun ini mengadakan program untuk pengadaan Modul Ajar Video untuk
            Praktikum (MAVP) dalam rangka membantu menyelesaikan permasalahan
            tersebut. MAVP dapat berupa pemanfaatan teknologi Augmented Reality
            / Virtual Reality, pengembangan perangkat lunak yang dibuat sendiri,
            maupun video simulasi aplikasi yang sudah ada.
          </p>
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0 content"
          data-aos="fade-left"
          data-aos-delay="100"
        >
          <h3></h3>
          <p></p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Skills Section -->
</template>