<template>
        <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Tim UP2AI</h2>
          <p>
            Berikut Tim UP2AI PENS.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div
              class="member d-flex align-items-start"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="pic">
                <img
                  src="../../assets/team-1.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="member-info">
                <h4>Dr. Ir. Rika Rokhana, MT.</h4>
                <span>Kepala UP2AI</span>
                <p>
                  
                </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div
              class="member d-flex align-items-start"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="pic">
                <img
                  src="../../assets/team-2.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="member-info">
                <h4>Tri Hadiah Muliawat, S.ST, M.Kom</h4>
                <span>Anggota</span>
                <p>
                  
                </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div
              class="member d-flex align-items-start"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="pic">
                <img
                  src="../../assets/team-3.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="member-info">
                <h4>Shofi Luthfidhia Dewi</h4>
                <span>Anggota</span>
                <p>
                 
                </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-6 mt-4">
            <div
              class="member d-flex align-items-start"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="pic">
                <img
                  src="../../assets/team-4.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="member-info">
                <h4>Dian Septiani Santoso, S.ST, M.Kom</h4>
                <span>Volunteer</span>
                <p>
                  Dolorum tempora officiis odit laborum officiis et et accusamus
                </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- End Team Section -->
</template>
